<div class="container-fluid">
  <div class="row">
      <div class="col-12">
          <br>
          <mat-card>
              <mat-card-title align="center">Catálogo de riesgos</mat-card-title>
            <div class="row">
              <div class="col-xs-12 col-sm-10 col-md-8">
                  <mat-form-field>
                      <input matInput (keyup)="applyFilter($event)" placeholder="Buscar">
                      <mat-icon matSuffix>search</mat-icon>
                  </mat-form-field>
              </div>            
              <div class="col-xs-12 col-sm-2 col-md-2 offset-md-2">
                  <div class="row">                        
                      <div class="col-3">
                          <button mat-mini-fab color="primary" matTooltip="Agregar registro" (click)="DialogAgregar()">
                              <mat-icon>add</mat-icon>
                          </button>
                      </div>
                      <div class="col-3">
                          <button mat-mini-fab color="primary" matTooltip="Importar registros" (click)="DialogImportar()">
                              <mat-icon>cloud_upload</mat-icon>
                          </button>
                      </div>
                      <div class="col-3">
                          <button mat-mini-fab color="primary" matTooltip="Descargar Excel" (click)="exportAsXLSX()">
                              <mat-icon>cloud_download</mat-icon>
                          </button>
                      </div>
                  </div>
              </div>
            </div>
                <div class="mat-elevation-z8" style="overflow: auto;">
                  <table mat-table [dataSource]="Tabla" matSort>                  
                    <ng-container matColumnDef="Identificador">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Identificador </th>
                      <td mat-cell *matCellDef="let row"> {{row.Identificador}} </td>
                    </ng-container>
                    <ng-container matColumnDef="Nombre">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                      <td mat-cell *matCellDef="let row"> {{row.Nombre}} </td>
                    </ng-container>
                    <ng-container matColumnDef="Criterio">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Criterio legal </th>
                      <td mat-cell *matCellDef="let row"> {{row.Criterio}} </td>
                    </ng-container>
                    <ng-container matColumnDef="Dimension">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Dimensión </th>
                      <td mat-cell *matCellDef="let row"> {{row.Dimension}} </td>
                    </ng-container>
                    <ng-container matColumnDef="TipoRiesgo">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo de riesgo </th>
                      <td mat-cell *matCellDef="let row"> {{row.TipoRiesgo}} </td>
                    </ng-container>
                    <ng-container matColumnDef="Usuario">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Usuario </th>
                      <td mat-cell *matCellDef="let row"> {{row.Usuario}} </td>
                    </ng-container>                  
                    <ng-container matColumnDef="Fecha">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </th>
                      <td mat-cell *matCellDef="let row" align="center"> {{row.FechaModificacion}} </td>
                    </ng-container>
                    <ng-container matColumnDef="Editar">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Editar </th>
                      <td mat-cell *matCellDef="let row" align="center">
                        <button mat-mini-fab color="primary" matTooltip="Editar {{row.Nombre}}" (click)="DialogModificar(row.Id)">
                          <mat-icon>edit</mat-icon>
                        </button>                          
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="Deshabilitar">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Estatus </th>
                      <td mat-cell *matCellDef="let row" align="center">
                        <mat-slide-toggle color="warn" matTooltip="Deshabilitar/Habilitar {{row.Nombre}}" [checked]="row.Estatus" (change)="Deshabilitar($event, row.Id)"></mat-slide-toggle>
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="Eliminar">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Eliminar </th>
                      <td mat-cell *matCellDef="let row" align="center">
                        <button mat-mini-fab color="warn" matTooltip="Eliminar {{row.Nombre}}" (click)="Eliminar(row.Id);">
                          <mat-icon>delete</mat-icon>
                        </button>
                      </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                    </tr>
                  </table>                  
                  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                </div>
          </mat-card>
      </div>
  </div>
</div>
