table {
    width: 100%;
    min-width: 800px !important;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 16.66%;
    padding-right: 1em;
  }
  .example-full-width {
    width: 100%;
  }