<div class="container-fluid Fondo">
  <div class="row" align="center">
    <div class="col-12">
      <br><br>
      <div class="contenedor" *ngIf="showContent">
        <mat-card class="mat-elevation-z4">
          <div class="imgContainer">
            <img mat-card-image src="./assets/logo-hexagono.png" style="width: 50%">
          </div>
    
          <mat-divider></mat-divider><br>
    
          <mat-card-content style="margin-top: 1em">
            
            <mat-form-field class="fullWidth" *ngIf="showEmail">
              <mat-icon matPrefix style="margin-right: 0.5em">person</mat-icon>
              <input autocomplete="off" matInput type="email" placeholder="Email de empleado" [(ngModel)]="loginData.email">
            </mat-form-field>        
            <div *ngIf="showPassword" class="containerLabel">
              <mat-icon style="margin-right: 0.5em">person</mat-icon>
              <label>{{ loginData.email }}</label>
            </div>
            
            <!-- <mat-form-field class="fullWidth" *ngIf="showPassword" style="margin-top:1em"> -->
            <mat-form-field class="fullWidth"  style="margin-top:1em">
              <mat-icon matPrefix style="margin-right: 0.5em">vpn_key</mat-icon>
              <input autofocus matInput type="password" placeholder="Contraseña" [(ngModel)]="loginData.password">
            </mat-form-field>
            <re-captcha  (resolved)="resolved($event)" siteKey="6LdkHPEUAAAAAOgAO8WGG0oyOrlyKZol3mFBXtb-"></re-captcha>
            <!-- Loading Animation -->
            <mat-spinner class="loadingSpin" [diameter]="40" *ngIf="loading"></mat-spinner>
    
            <!-- <button mat-raised-button color="primary" class="loginButton" *ngIf="showEmail" (window:keydown)="onKey($event)" (click)="nextLogin()">SIGUIENTE</button> -->
            <!-- <button mat-raised-button color="primary" class="loginButton" *ngIf="showPassword" (window:keydown)="UserPass($event)" (click)="makeLogin()" [disabled]="disabled">INGRESAR</button> -->
            <button mat-raised-button color="primary" class="loginButton" (window:keydown)="UserPass($event)" (click)="nextLogin()" [disabled]="disabled">INGRESAR</button>
    
            <!-- <div style="text-align: center; margin-top:1em" *ngIf="showRecovery">
              <button mat-button>Recuperar contraseña</button>
            </div> -->
            
            
    
          </mat-card-content>
        </mat-card>
        <br><br><br><br><br><br>
      </div>
    </div>
  </div>
</div>