
mat-card{
  margin-top: 26em !important;
  max-width: 450px;  
  min-width: 300px;  
}

.contenedor{
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
}

.imgContainer{
  text-align: center;
  margin-top: 2em !important;
}

.fullWidth{
  width: 100%;
}

.loginButton{
  width: 100%;
  margin-top: 1em !important;
}

.loadingSpin{
  margin: 0 auto;
  position: relative;
}

.containerLabel{
  display: flex;
  align-items: center;
}
