<mat-progress-bar class="progressbar" mode="indeterminate" *ngIf="ShowProgressbar | async"></mat-progress-bar>
<mat-drawer-container class="example-container {{color  | async}}" autosize>
    <mat-drawer  class="example-sidenav" mode="over" [(opened)]="ShowSidebar">
        <br>        
        <!-- {{NombreUsuario | async}} -->        
        <div align="center">
            <button mat-icon-button (click)="CerrarSideMenu()">
                <mat-icon>menu</mat-icon>
            </button>
            &nbsp;
            <img src="./assets/logo_horizontal.png" width="auto" height="50" alt="">
        </div>
        <mat-divider></mat-divider>
        <mat-nav-list>
            <a mat-list-item routerLink="/Dashboard" (click)="CerrarSideMenu()">
                <mat-icon color="primary">bar_chart</mat-icon> &nbsp; Dashboard 
            </a>
        </mat-nav-list>
        <mat-divider></mat-divider>
        <div align="center"> 
            <mat-accordion>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon color="primary">library_books</mat-icon>                                               
                    </mat-panel-title>
                    <mat-panel-description>
                        Catálogos
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <mat-nav-list>
                      <a mat-list-item routerLink="/CatalogoArea" (click)="CerrarSideMenu()"> De área </a>
                      <a mat-list-item routerLink="/CatalogoCriterio" (click)="CerrarSideMenu()"> De criterio legal</a>
                      <a mat-list-item routerLink="/CatalogoDimension" (click)="CerrarSideMenu()"> De dimensión </a>
                      <a mat-list-item routerLink="/CatalogoTipoRiesgo" (click)="CerrarSideMenu()"> De tipo de riesgo </a>
                      <a mat-list-item routerLink="/CatalogoRiesgo" (click)="CerrarSideMenu()"> De riesgo </a>
                  </mat-nav-list>
                </mat-expansion-panel>
                <!--<mat-expansion-panel (opened)="panelOpenState = true"
                                     (closed)="panelOpenState = false">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      ejemplo
                    </mat-panel-title>                    
                  </mat-expansion-panel-header>
                  <p>I'm visible because I am open</p>
                </mat-expansion-panel>
            -->
            </mat-accordion>           
            <!-- <mat-nav-list>
                <a mat-list-item routerLink="/Dashboard"> Dashboard </a>
                <a mat-list-item routerLink="/Encuestas"> Encuestas </a>
            </mat-nav-list> -->
            
            <!-- <mat-divider></mat-divider>
            <mat-nav-list *ngFor="let Menu of Menus | async">
                <h5>{{Menu.Menu}}</h5>                                
                <a mat-list-item *ngFor="let Submenu of Menu.Submenus" routerLink="/{{Submenu.Submenu}}"> {{Submenu.Submenu}} </a>
                <mat-divider></mat-divider>
                
            </mat-nav-list> -->
        </div>                
    </mat-drawer>  
    <div class="example-sidenav-content">        
        <app-navbar (propagar)="procesaPropagar($event)"></app-navbar>
        <router-outlet></router-outlet>     
    </div>  
  </mat-drawer-container>